/*!!!!!!!!!!! Color and fonts
{

light blue: #B4E9E0;
dark blue: #33748D;
orange #F49220
red: #E92B22

text size: 30


@media only screen and (max-width: 979px)

@media only screen and (max-width: 768px)




!!!!!!!!!!! Color and fonts
{


#4A4116 - dark gray/green
#AEA48E-  tan
#FF8400 - orange (rollover)
#FFC06B - light orange
#33748D - dark blue (link)
#B4E9E0 - light blue (background)

background: portfolio - #D0D089
background: blog - #B3AEBD

font-family: 'Playfair Display', serif;
font-family: 'Crimson Text', serif;

fonts

z-index:*/